<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div id="top-left">
        <img id="logoleft" src="../static/images/envrio_logo.png"/>
        <p id="lezanda">Consume less, grow more</p>
    </div>
    <div id="login-panel">
        <form method="post" action="{{url_for('login_user')}}">
            <p>
            <div>
                <input class="button" type="submit" value="Log In">
            </div>
            </p>
        </form>

    </div>
    <div id="panel2">
        <p class="welcome">This is a Envrio<br/> log in template</p>
        <form method="post" action="{{url_for('login_user')}}">
            <p>
            <div>
                <input class="login-btn" type="submit" value="Log In">
            </div>
            </p>
        </form>
    </div>
</body>
</html>